<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="EArsivWsServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://okctest.gib.gov.tr/okcesu/services/EArsivWsPort"
                binding="customBinding" bindingConfiguration="EArsivWsServiceSoapBinding"
                contract="EArsivWsService.EArsivWs" name="EArsivWsPort" />
        </client>
    </system.serviceModel>
</configuration>